@import "tailwindcss";

@theme {
  --color-primary: #2f80ed;
  --color-secondary: #808080;
  --color-title: #111111;
  --color-background: #f7f7f7;
  --color-textbadge: #f2f7ff;
  --color-slidericon: #e6e6e6;
  --color-footercolor: #1a1a1a;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-expertise {
  font-family: var(--font-cormorant);
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 0px;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 16px;
  }
}

.heading80 {
  font-size: 80px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -3%;
}

.regular24 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -2%;
}

.regular20 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -2%;
}

.medium20 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -2%;
}

.image-section {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.image-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/afterimg.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.image-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.image-mobile {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.image-mobile::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/aftermobile.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.image-mobile::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
